<ion-view view-title="FORGOT PASSWORD" name="">
	<ion-content class="padding black_bg" scroll="true" has-bouncing="true">
	
  <ion-slide>
		  <img src="img/logo.png" class="center logo-big" alt="">
		
			<div class="max-width-320">
				<p class="whiteText">Enter Your Registered Email</p>
			  	<div class="list list-inset">
					
				
				  	<label class="item item-input">
					  <input type="password" placeholder="Enter Your Email" ng-model="data.username">
				  	</label>
				</div>

		
				<a href="#" class="button button-block button-calm" >SUBMIT</a>

		</div>	 
		</ion-slide> 		
	</ion-content>
</ion-view>