<ion-view view-title="Home" name="Home-view">
	<ion-content class="padding login-bg" scroll="true" has-bouncing="true">
		<ion-slide>

			
			  <!-- <img src="img/logo.png" > -->
			  
			  <img src="img/logo.png" class="center logo-big" alt="">
			
				<div class="max-width-320 login-buttons">
				
				  <a href="#/login" class="button button-block button-calm" > SIGN IN</a>
				  
				  <button class="button button-block button-calm" > REGISTER USER</button>
				  
				  <button class="button button-block button-calm button-fb-login" > <span><i class="ion-social-facebook"></i></span> SIGN IN WITH FACEBOOK</button>
				  
				</div>

		
			
		</ion-slide>
	</ion-content>
</ion-view>
