<ion-view view-title="Login" name="login-view">
	<ion-content class="padding login-bg">
		<!-- <img src="img/logo.png" > -->
		<img src="img/logo.png" class="center logo-big" alt="">
		
		<div class="max-width-320">
		  <div class="list list-inset">
			  <label class="item item-input">
				  <input type="text" placeholder="Username" ng-model="data.username">
			  </label>
			  <label class="item item-input">
				  <input type="password" placeholder="Password" ng-model="data.password">
			  </label>
		  </div>
		   <a href="#/app/profile" class="button button-block button-calm" >SIGN IN</a>
		 	<a href="#/app/forgotPassword" class="forgotPass">Forgot Password?</a>
		</div>	
	</ion-content>
</ion-view>

