
<ion-view view-title="Map" name="">
 
  <!-- <ion-nav-back-button native-transitions native-transitions-options="{type: 'slide', direction:'right'}" class="button-icon">
  <i class="icon ion-arrow-left-c"></i>
</ion-nav-back-button> -->
	<ion-content class="black_bg has-footer-q">
		<div id="map" ></div>
        <div id="caption">
        	<div id="listDiv">
				<div class="paddingLeftRight list list-dark">
					<div class="seatSec">
					  	<div class="list restaurantList">
					  		<div class="restaurantDiv">
							   	<div class="item item-divider noData">
							   		<i class="icon ion-alert-circled"></i>
							   		<p>No Restaurants Available</p>
							   		<!-- <p>Available Seats: 0</p> -->
							   	</div>
							
						   	</div>
					  		<div class="restaurantDiv">
							   	<div class="item item-divider item-icon-left">
							   		<i class="icon ion-heart"></i>
							   		<p>Restaurant: Parsanne Blanco</p>
							   		<p>Radius 500m Available Seats: 4</p>
							   	</div>
							   	<div class="item item-thumbnail-left">
							   		<img src="img/restImg.png">
							   		<div class="restName">Parsanne Blanco</div>
							   	</div>
							   	<div class="item">
							   		<p>French / Asian Fusion Kitchen</p>
							   		<p>Dining Price : <span class="balanced">$30</span></p>
							   	</div>
						   	</div>
						   	<div class="restaurantDiv">
								<div class="item item-divider item-icon-left">
							   		<i class="icon ion-heart"></i>
							   		<p>Restaurant: Sang Bleu</p>
							   		<p>Radius 500m Available Seats: 2</p>
							   	</div>
							   	<div class="item item-thumbnail-left">
							   		<img src="img/restImg.png">
							   		<div class="restName">Sang Bleu</div>
							   	</div>
							   	<div class="item">
							   		<p>French Cuisine / Sustainable food</p>
							   		<p>Dining Price : <span class="balanced">$50</span></p>
							   	</div>
						   	</div>
						   	<div class="restaurantDiv">
								<div class="item item-divider item-icon-left">
							   		<i class="icon ion-heart"></i>
							   		<p>Restaurant: Hereford Steak</p>
							   		<p>Radius 500m Available Seats: 10</p>
							   	</div>
							   	<div class="item item-thumbnail-left">
							   		<img src="img/restImg.png">
							   		<div class="restName">Hereford Steak</div>
							   	</div>
							   	<div class="item">
							   		<p>French / Asian Fusion Kitchen</p>
							   		<p>Dining Price : <span class="balanced">$80</span></p>
							   	</div>
						   	</div>
						</div>
					</div>
				</div>
        	</div>
		</div>
	</ion-content>
	<ion-footer-bar class="bar-footer-q" padding="false">
		<div class="bar bar-footer bar-footer-q bar-q" id="mapIcon">
			<span class="center" ><i class="icon ion-arrow-down-b"></i></span>
		</div>
	</ion-footer-bar>
</ion-view>
<script>
	$(document).ready(function () {
	    $("#mapIcon").click(function () {
	        $("#caption").slideToggle();
	    });
	});
</script>
	