<ion-view view-title="EDIT YOUR PROFILE" name="">
	<ion-content class="padding black_bg">
	
		<div class="padding list list-dark">
			
			<div class="item item-dark-ex item-avatar item-avatar-block">
				<span class="item-avatar-block-img">
					<img src="img/profile1.jpg">
				</span>
				<h1>John Doe</h1>
			</div>

		   <div class="item item-dark-ex item-icon-right">
			  <i class="icon ion-arrow-right-b small-i"></i>
			  My Q Tickets
		   </div>
		   
		   <div class="item item-dark-ex item-icon-right">
			  <i class="icon ion-arrow-right-b small-i"></i>
			  My Reservations
		   </div>
		   
		   <div class="item item-dark-ex item-icon-right">
			  <i class="icon ion-arrow-right-b small-i"></i>
			  Help / Feedback
		   </div>
		   
		   <div class="item item-dark-ex item-icon-right">
			  <i class="icon ion-arrow-right-b small-i"></i>
			  Search
		   </div>
		   <div class="item item-dark-ex item-icon-right" ng-click = "showPopup()">
			  <i class="icon ion-arrow-right-b small-i"></i>
			  Reset Password
		   </div>
		</div>
		
		<div class="max-width-320">
			<a href="#/app/editProfile" class="button button-block button-calm">Edit Profile</a>
			
		</div>
			
	</ion-content>
</ion-view>




	<!-- <ion-header-bar>
		<div class="bar bar-header bar-dark">
			<button class="button icon button button-icon ion-ios-arrow-left"></button>
			<h1 class="title">EDIT YOUR PROFILE</h1>
		</div>
	</ion-header-bar> -->