<div class="popUpInner">
	<button ng-click="closePopup()" class="button button-icon icon ion-close closeButton"></button>
	<div class="max-width-320">
		<div class="list list-inset">

		  	<label class="item item-input">
			  <input type="password" placeholder="Enter Current Password" ng-model="data.username">
		  	</label>
		  	<label class="item item-input">
			  <input type="password" placeholder="Enter New Password" ng-model="data.password">
		  	</label>
		  	<label class="item item-input">
			  <input type="password" placeholder="Retype New Password" ng-model="data.password">
		  	</label>
		</div>
		<div class="padding">

			<a href="#" class="button button-block button-calm">RESET PASSWORDs</a>

		</div>

	</div>	  	
</div>