<ion-view view-title="TICKET LIST" name="Home-view">
	<ion-content class="padding list-bg" scroll="true" has-bouncing="true">
	
	<div class="filterBar">
		<div class="filterSelect">
	      	<select class = "item item-input item-select item-dark">
	         	<option selected>Restaurant</option>
	         	<option>Option 2</option>
	         	<option>Option 3</option>
	      	</select>
	    </div>
	    <div class="filterSelect">
	  		<select class = "item item-input item-select item-dark">
	         	<option selected>Status</option>
	         	<option>Option 2</option>
	         	<option>Option 3</option>
	      	</select>
	    </div>
	    <div class="filterSelect">
	      	<select class = "item item-input item-select item-dark">
	         	<option selected>Date</option>
	         	<option>Option 2</option>
	         	<option>Option 3</option>
	      	</select>
	    </div>
		<span class="otherFilter"><i class="icon ion-ios-settings-strong"></i>Filter</span>
	</div>
		<div class="list">
			<div class="item ticketList">
				<h3 class="noTicketList"><i class="icon ion-alert-circled"></i><br>No active tickets available.</h3>
				
			</div>
			<div class="item ticketList">
				<h3>PARSANNE BLANCO</h3>
				<div class="row">
					
					<div class="col">
						<div class="row">

							<div class="col ticketDateDiv">
								<div class="ticketDate">
									<div class="ticketMonth"><span>APR</span> </div>
									<div class="ticketDay"><span>22</span></div>
								</div>
							</div>
							
							<div class="col ticketDivDay">
								<p class="ticketStatus">Saturday, 2017</p>
								<p class="ticketId">Id : 12453698</p>
							</div>
						</div>
						
						
					</div>
					<div class="col ticketRight">
						<p class="ticketSeats">5 Seats</p>
						<p class="ticketStatus">Status : Pending</p>
					</div>
				</div>
				<div class="queNo">
                  There are 8 people in front of you
  				</div>
			</div>

			<div class="item ticketList">
				<h3>PARSANNE BLANCO</h3>
				<div class="row">
					
					<div class="col">
						<div class="row">

							<div class="col ticketDateDiv">
								<div class="ticketDate">
									<div class="ticketMonth"><span>APR</span> </div>
									<div class="ticketDay"><span>22</span></div>
								</div>
							</div>
							
							<div class="col ticketDivDay">
								<p class="ticketStatus">Saturday, 2017</p>
								<p class="ticketId">Id : 12453698</p>
							</div>
						</div>
						
						
					</div>
					<div class="col ticketRight">
						<p class="ticketSeats">5 Seats</p>
						<p class="ticketStatus">Status : Pending</p>
					</div>
				</div>
				<div class="queNo">
                  There are 8 people in front of you
  				</div>
			</div>

			<div class="item ticketList">
				<h3>PARSANNE BLANCO</h3>
				<div class="row">
					
					<div class="col">
						<div class="row">

							<div class="col ticketDateDiv">
								<div class="ticketDate">
									<div class="ticketMonth"><span>APR</span> </div>
									<div class="ticketDay"><span>22</span></div>
								</div>
							</div>
							
							<div class="col ticketDivDay">
								<p class="ticketStatus">Saturday, 2017</p>
								<p class="ticketId">Id : 12453698</p>
							</div>
						</div>
						
						
					</div>
					<div class="col ticketRight">
						<p class="ticketSeats">5 Seats</p>
						<p class="ticketStatus">Status : Pending</p>
					</div>
				</div>
				<div class="queNo">
                  There are 8 people in front of you
  				</div>
			</div>

			<div class="item ticketList">
				<h3>PARSANNE BLANCO</h3>
				<div class="row">
					
					<div class="col">
						<div class="row">

							<div class="col ticketDateDiv">
								<div class="ticketDate">
									<div class="ticketMonth"><span>APR</span> </div>
									<div class="ticketDay"><span>22</span></div>
								</div>
							</div>
							
							<div class="col ticketDivDay">
								<p class="ticketStatus">Saturday, 2017</p>
								<p class="ticketId">Id : 12453698</p>
							</div>
						</div>
						
						
					</div>
					<div class="col ticketRight">
						<p class="ticketSeats">5 Seats</p>
						<p class="ticketStatus">Status : Pending</p>
					</div>
				</div>
				<div class="queNo">
                  There are 8 people in front of you
  				</div>
			</div>

			<div class="item ticketList">
				<h3>PARSANNE BLANCO</h3>
				<div class="row">
					
					<div class="col">
						<div class="row">

							<div class="col ticketDateDiv">
								<div class="ticketDate">
									<div class="ticketMonth"><span>APR</span> </div>
									<div class="ticketDay"><span>22</span></div>
								</div>
							</div>
							
							<div class="col ticketDivDay">
								<p class="ticketStatus">Saturday, 2017</p>
								<p class="ticketId">Id : 12453698</p>
							</div>
						</div>
						
						
					</div>
					<div class="col ticketRight">
						<p class="ticketSeats">5 Seats</p>
						<p class="ticketStatus">Status : Pending</p>
					</div>
				</div>
				<div class="queNo">
                  There are 8 people in front of you
  				</div>
			</div>

			<div class="item ticketList">
				<h3>PARSANNE BLANCO</h3>
				<div class="row">
					
					<div class="col">
						<div class="row">

							<div class="col ticketDateDiv">
								<div class="ticketDate">
									<div class="ticketMonth"><span>APR</span> </div>
									<div class="ticketDay"><span>22</span></div>
								</div>
							</div>
							
							<div class="col ticketDivDay">
								<p class="ticketStatus">Saturday, 2017</p>
								<p class="ticketId">Id : 12453698</p>
							</div>
						</div>
						
						
					</div>
					<div class="col ticketRight">
						<p class="ticketSeats">5 Seats</p>
						<p class="ticketStatus">Status : Pending</p>
					</div>
				</div>
				<div class="queNo">
                  There are 8 people in front of you
  				</div>
			</div>

			<div class="item ticketList">
				<h3>PARSANNE BLANCO</h3>
				<div class="row">
					
					<div class="col">
						<div class="row">

							<div class="col ticketDateDiv">
								<div class="ticketDate">
									<div class="ticketMonth"><span>APR</span> </div>
									<div class="ticketDay"><span>22</span></div>
								</div>
							</div>
							
							<div class="col ticketDivDay">
								<p class="ticketStatus">Saturday, 2017</p>
								<p class="ticketId">Id : 12453698</p>
							</div>
						</div>
						
						
					</div>
					<div class="col ticketRight">
						<p class="ticketSeats">5 Seats</p>
						<p class="ticketStatus">Status : Pending</p>
					</div>
				</div>
				<div class="queNo">
                  There are 8 people in front of you
  				</div>
			</div>
			
		</div>
	</ion-content>
</ion-view>
